#chatbot{
    width: 100px;
    height: 100px;
    background-color: rgb(211, 193, 193);
    box-shadow: 3px 3px lightblue;
    border-radius: 50%;
    font-size: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#chatbot-modal {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 350px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
.chatbot-header{
    width: 100%;
    height: 50px;
    color: #f3eba4;
    border-radius: 10px 10px 0 0;
    padding: 0 10px;
}
.chatbot-body{
    width: 100%;
    height: 475px;
    display: flex;
    flex-direction: column;
    background-color: #f3eba4;
    border-radius: 0 0 15px 15px;
    padding: 10px;
}
.btn-msg{
    width: 50px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3eba4;
    border-radius: 50%;
    cursor: pointer;
}
.input-msg{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
}   